// article
.article {
    padding-top: 0;
    h2 {
        max-width: 750px;
        margin-bottom: 30px;
        @media(max-width: 991px){
            margin-bottom: 22px;
        }
    }
    h3 {
    
    }
    &-image {
        width: 100%;
        height: 538px;
        object-fit: cover;
        border-radius: 16px;
        margin-bottom: 30px;
        @media(max-width: 1199px){
            height: 400px;
        }
        @media(max-width: 991px){
            margin-bottom: 20px;
            border-radius: 8px;
        }
        @media(max-width: 575px){
            height: auto;
        }
    }
    &-grid {
        display: grid;
        grid-template-columns: auto 277px;
        column-gap: 100px;
        @media(max-width: 1199px){
            column-gap: 50px;
        }
        @media(max-width: 991px){
            grid-template-columns: 1fr;
            column-gap: 0;
            display: flex;
            flex-direction: column;
        }
    }
    &-text {
        p {
            margin-bottom: 18px;
            @media(max-width: 991px){
                font-size: 14px;
                line-height: 20px;
                margin-bottom: 15px;
            }
        }
    }
    &-sidebar {
        @media(max-width: 991px){
            margin-top: 40px;
        }
        h3 {
            color: #0E1A2F;
            margin-bottom: 40px;
        }
        &__item {
            margin-bottom: 40px;
            .blog-slide__img {
                height: 240px;
            }
            .blog-slide__title {
                max-height: 44px;
                height: unset;
                -webkit-line-clamp: 2;
            }
        }
    }
    .title-wrapper {
        margin-bottom: 40px;
        @media(max-width: 991px){
            margin-bottom: 25px;
        }
    }
}