/* Hamburger Menu */
.hamburger {
  display: none;
  align-self: center;
  flex-direction: column;
  justify-content: space-between;
  width: 32px;
  min-width: 32px;
  height: 32px; 
  margin-right: 16px;
  cursor: pointer;
  position: relative;
  background-color: #FD7033;
  border-radius: 4px;
  padding: 10px 7px;

  // transition: background 0.2s linear;  
  display: none;

  @media (max-width: 991px) {
    display: flex;
  }
}

.hamburger div {
  align-self: flex-start;
  height: 2px;
  width: 100%;
  background: #fff;
  border-radius: 10px;
}

.hamburger .meat {
  width: 100%;
}

.top-bun.active,
.meat.active,
.bottom-bun.active {

}

