.exclusive {
    padding-top: 80px;
    .page-title {
        max-width: 765px;
    }
    .slider-count {
        font-size: 22px;
        font-weight: 600;      
    }
    .swiper-slide {
        width: 100%;
        display: block;
        img {
            border-radius: 20px;
            height: 520px;
            width: 100%;
            object-fit: cover;
        }
    }
}