.exclusive {
    padding-top: 80px;

    @media(max-width: 991px) {
        padding-top: 0px;
    }

    .page-title {
        max-width: 765px;
    }
    &-slider {
        @media(max-width: 575px){
            padding-right: 65px;
            overflow: visible;
        }
    }
    .slider-count {
        font-size: 22px;
        font-weight: 600;
    }

    .swiper-slide {
        width: 100%;
        display: block;

        img {
            border-radius: 20px;
            height: 520px;
            width: 100%;
            object-fit: cover;

            @media(max-width: 1199px) {
                height: 41vw;
            }
            @media(max-width: 575px){
                height: 80vw;
            }
        }
    }
}