// Header
.header {
    .container {
        @media(max-width: 991px) {
            position: relative;
        }
    }

    &-top {
        background: #1C1F63;
        padding-top: 6px;
        padding-bottom: 7px;

        @media(max-width: 575px) {
            padding-top: 4px;
            padding-bottom: 3px;
        }

        &__link {
            color: #fff;
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
            padding-right: 20px;
            background: url('@img/header/free-arrow.svg') no-repeat right center / 10px;
            width: fit-content;
            transition: background-position .2s linear;

            @media(max-width: 575px) {
                font-size: 13px;
                line-height: 16px;
                font-weight: 400;
            }

            &:hover {
                background-position: right 5px center;
            }
        }
    }

    &-bottom {
        padding-top: 13px;
        padding-bottom: 11px;

        @media(max-width: 575px) {
            padding-top: 9px;
            padding-bottom: 9px;
        }
    }

    &-content {
        &__top {
            padding-bottom: 8px;
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);

            @media(max-width: 991px) {
                padding-bottom: 0;
                border: none;
            }
        }

        &__bottom {
            padding-top: 8px;

            @media(max-width: 991px) {
                padding-top: 0;
            }
        }
    }

    &-mail {
        @media(max-width: 991px) {
            margin-bottom: 8px;
        }
    }

    &-phone {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;
        transition: color .2s linear;

        @media(max-width: 991px) {
            margin-top: 16px;
            font-size: 13px;
            line-height: 16px;
            color: #46487A;
            font-weight: 400;
            margin-bottom: 8px;
        }

        &:hover {
            color: #FD7033;
        }

        &::before {
            content: '';
            width: 24px;
            height: 24px;
            background: url('@img/header/header-phone.svg');

        }
    }

    &-search {
        width: 470px;
        background-color: #F2F5F8;
        border-radius: 20px;
        position: relative;

        button {
            position: absolute;
            right: 0;
            top: 0;
            width: 50px;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            border-top-right-radius: 12px;
            border-bottom-right-radius: 12px;

            @media(max-width: 991px) {
                background-color: #FD7033;
            }
        }

        @media(max-width: 991px) {
            display: none;
            position: absolute;
            left: -6px;
            right: -6px;
            top: 0;
            width: calc(100% - 18px);
            height: 100%;
            z-index: 1;
        }

        @media(max-width: 575px) {
            left: 6px;
            right: unset;
        }

        &.active {

            display: block;
        }

        input {
            width: 100%;
            border-radius: 20px;
            padding-left: 24px;
            padding-right: 50px;
            padding-top: 11px;
            padding-bottom: 11px;
            color: #46487A;
            font-size: 14px;
            line-height: 16px;

            @media(max-width: 991px) {
                height: 100%;
                border-radius: 12px;
                padding-left: 50px;
            }

            @media(max-width: 575px) {
                font-size: 16px;
            }

            &::placeholder {
                color: rgba(41, 46, 68, 0.4);
            }
        }
    }

    &__nav {
        @media(max-width: 991px) {
            display: none;
            opacity: 0;
            visibility: hidden;
            z-index: 2;
        }

        nav {
            @media(max-width: 991px) {
                max-width: 720px;
                width: 100%;
                height: 100%;
                padding-left: 12px;
                padding-right: 12px;
            }

            @media(max-width: 767px) {
                max-width: 540px;
            }

            @media(max-width: 575px) {
                max-width: 100%;
                padding-left: 0;
                padding-right: 0;
            }
        }

        &.open {
            display: flex;
            opacity: 1;
            visibility: visible;
            position: fixed;
            top: 30px;
            left: 0;
            height: 100vh;
            overflow-y: scroll;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            animation: shows 0.3s;

            @media(max-width: 575px) {
                top: 23px;
                padding-left: 0;
                padding-right: 0;
            }

            // nav {
            //     height: 100%;
            // }
        }

        &-list {
            display: flex;
            padding-left: 52px;
            column-gap: 23px;
            position: relative;

            &::after {
                @media(max-width: 991px) {
                    content: '';
                    background: #F2F5F8;
                    position: absolute;
                    width: calc(100vw + 200px);
                    height: 100%;
                    left: -200px;
                    top: 0;
                }

            }

            @media(max-width: 991px) {
                height: fit-content;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding-left: 0;
                background: #F2F5F8;
                padding-top: 16px;
                padding-bottom: 16px;
                margin-top: 72px;
            }

            @media(max-width: 575px) {
                margin-top: 66px;
                padding-left: 10px;
                padding-right: 10px;
            }

            li {
                position: relative;
                z-index: 1;

                @media(max-width: 991px) {
                    margin-bottom: 12px;
                }

                a {
                    transition: color .2s linear;

                    @media(max-width: 991px) {
                        text-align: center;
                        font-weight: 400;
                    }

                    &:hover {
                        color: #FD7033;
                    }
                }
            }

            &>li {
                position: relative;

                &>a {
                    color: $main-text;
                }

                .submenu {
                    z-index: 1;
                    transition: all .2s linear;
                    visibility: hidden;
                    opacity: 0;                  
                    position: absolute;
                    padding-top: 16px;
                    // padding-left: 26px;
                    // padding-right: 26px;
                    padding-bottom: 16px;
                    left: 0;
                    right: 0;
                    width: calc(100% - 20px);
                    margin: 0 auto;
                    top: 100%;
                    background: #FFFFFF;
                    box-shadow: 0px 7px 20px 0px rgba(45, 47, 84, 0.10);
                    border-radius: 20px;
                    width: max-content;
                    overflow: hidden;

                    li {
                        a {
                            padding-left: 26px;
                            padding-right: 26px;
                            padding-top: 8px;
                            padding-bottom: 8px;
                            transition: none;

                            &:hover {
                                background: rgba(70, 72, 122, 0.50);
                                color: #fff;
                            }
                        }
                    }
                }

                &.has-child {
                    &>a {
                        padding-right: 18px;
                        background: url('@img/icons/menu-arrow.svg') no-repeat right center / 12px;

                        @media(max-width: 991px) {
                            background: none;
                            padding-right: 0;
                        }
                    }

                    &:hover {
                        .submenu {
                            opacity: 1;
                            visibility: visible;

                            @media(max-width: 991px) {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .logo-descr {
        max-width: 115px;
        font-size: 14px;
        line-height: 16px;
        color: #46487A;
    }

    .actions {
        ul {
            display: flex;
            justify-content: flex-end;
            column-gap: 10px;

            @media(max-width: 991px) {
                height: fit-content;
            }

            li {
                svg {
                    fill: #fff;
                    stroke: $main-color;
                    width: 24px;
                    height: 24px;

                    &.like-icon {
                        width: 18px;
                    }
                }

                a {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: background .2s linear;

                    &:hover {
                        background-color: #F2F5F8;

                        svg {
                            stroke: #FD7033;
                        }
                    }
                }
            }
        }
    }

    .actions {
        @media(max-width: 991px) {
            display: flex;
            align-items: center;
            column-gap: 30px;
            justify-content: flex-end;
        }

        @media(max-width: 575px) {
            justify-content: space-between;
            column-gap: 9px;
        }
    }
}

.header-cart {
    position: relative;
}

.header-cart[data-count]:after {
    content: attr(data-count);
    position: absolute;
    top: -2px;
    right: -2px;
    padding: 2px;
    min-width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    background: #FD7033;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color: #fff;
}

.header-heart {
    position: relative;
}

.header-heart[data-count]:after {
    content: attr(data-count);
    position: absolute;
    top: -3px;
    right: -3px;
    padding: 2px;
    min-width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
    background: #FD7033;
    text-align: center;
    line-height: 20px;
    font-size: 10px;
    color: #fff;
}

.mobile-search {
    display: none;
    width: 48px;
    height: 48px;
    min-width: 48px;

    svg {
        fill: transparent;
        stroke: #46487A;
    }

    @media(max-width: 991px) {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 24px;
        background: #F2F5F8;
    }
}

@media(max-width: 991px) {
    .logo-sm {
        width: 120px;
    }
}

@media(max-width: 400px) {
    .logo-sm {
        width: 100%;
    }
}

@keyframes shows {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.header .btn-close {
    display: none;
    width: unset;
    height: unset;
    min-width: 32px;
    width: 32px;
    height: 32px;
    background-color: transparent;
    border-radius: 50%;
    border-radius: 4px;
    background: #FD7033;
    padding: 0;

    &:hover {
        opacity: 1;
        background-color: #F2F5F8;
    }

    svg {
        stroke: #fff;
        width: 20px;
        height: 20px;

    }

    @media(max-width: 991px) {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }
}

.header-form-close {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 20px;
    }
}

.contacts-content {
    font-size: 13px;
    line-height: 16px;
    margin-top: 20px;
    color: #46487A;
    margin-bottom: 32px;

    h5 {
        color: rgba(70, 72, 122, 0.50);
        font-size: 14px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.14px;
    }
}

.header-order {
    span {
        color: #1C1F63;
        font-size: 14px;
        font-weight: 600;
        line-height: 125%;
        margin-bottom: 12px;
        display: block;
    }
}

.mobile-head {

    color: #46487A;
    font-size: 14px;
    line-height: 20px;
    position: fixed;
    top: 30px;
    left: 0;
    width: 100%;
    z-index: 2;
    background-color: #fff;

    @media(max-width: 575px) {
        top: 23px;
    }

    svg {
        width: 24px;
        height: 24px;
        fill: #fff;
        stroke: #1C1F63;
    }
}

.mobile-header-wrap {
    padding-top: 21px;
    padding-bottom: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;

    @media(max-width: 991px) {
        max-width: 720px;
        width: 100%;
        padding-left: 12px;
        padding-right: 12px;
    }

    @media(max-width: 767px) {
        max-width: 540px;
    }

    @media(max-width: 575px) {
        max-width: 100%;
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 10px;
        padding-right: 10px;
        // padding-left: 0;
        // padding-right: 0;
    }
}

.contacts-sm {
    padding-bottom: 80px;
    @media(max-width: 575px){
       padding-left: 10px;
       padding-right: 10px; 
    }
}

.header-content__bottom {
    position: relative;
}

.catalog-menu {
    padding-left: 0;
    padding-right: 0;
    position: absolute;
    left: 10px;
    top: 100%;
    box-shadow: 0px 7px 20px 0px rgba(45, 47, 84, 0.10);
    width: max-content;
    background-color: #fff;
    border-radius: 22px;
    z-index: 1;
    visibility: visible;
    opacity: 0;
      display: none;
    &.active {
        opacity: 1;
        visibility: visible;
        display: block;
    }
 

    ul {
        li {
           
            a {
                padding-top: 16px;
                padding-bottom: 16px;
                padding-left: 26px;
                padding-right: 70px;
                font-size: 22px;
                letter-spacing: 0.66px;
                font-weight: 600;
                color: #46487A;

                &:hover {
                    background-color: #FD7033;
                    color: #fff;
                }
            }
        }
    }
    &>ul {
        &>li {
            &:first-child{
                &>a {
                    border-top-left-radius: 22px;
                    border-top-right-radius: 22px;
                }
            }
            &:last-child{
                &>a {
                    border-bottom-left-radius: 22px;
                    border-bottom-right-radius: 22px;
                }
            }
            &.has-child {
                position: relative;
                &:hover {
                    ul {
                        opacity: 1;
                        visibility: visible;
                    }
                }
                &>ul {
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    left: 100%;
                    top: 0;
                    background-color: #fff;
                    border-radius: 0 22px 22px 22px;
                    &>li {
                        &:first-child{
                            &>a {
                               
                                border-top-right-radius: 22px;
                            }
                        }
                        &:last-child{
                            &>a {
                                border-bottom-left-radius: 22px;
                                border-bottom-right-radius: 22px;
                            }
                        }
                        a {
                            padding-left: 26px;
                            padding-right: 26px;
                        }
                       
                    }
                }
                &>a {
                    background-image: url('@img/icons/arrow-menu.svg');
                    background-repeat: no-repeat;
                    background-size: 24px;
                    background-position: right 20px center;                   
                    &:hover {
                        background-image: url('@img/icons/arrow-menu-white.svg');
                    }
                  
                }         
            }
            &>a {
                text-transform: uppercase;
            }
        }
    }
}