// individual
.individual {
    @media(max-width: 991px){
        padding-bottom: 50px;
    }
    &-grid {
        display: grid;
        grid-template-columns: 50% 50%;
        column-gap: 10px;
        @media(max-width: 767px){
            grid-template-columns: 1fr;
        }
    }

    &-item {
        background: #F2F5F8;
        border-radius: 20px;
        padding-left: 50px;
        padding-top: 30px;
        padding-bottom: 36px;
        padding-right: 96px;
        @media(max-width: 991px){
            padding-right: 20px;
            padding-right: 30px;
        }
        @media(max-width: 767px){
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
        @media(max-width: 575px){
            padding-left: 15px;
            padding-right: 15px;
        }

        &__title {
            margin-top: 120px;
            color: #1C1F63;
            @media(max-width: 1199px){
                margin-top: 50px;
            }
            @media(max-width: 991px){
                margin-top: 28px;
                line-height: 130%;
            }
        }

        &__text {
            margin-bottom: 30px;
            margin-top: 30px;
            color: #46487A;
            @media(max-width: 991px){
                margin-top: 25px;
                margin-bottom: 25px;
            }
            @media(max-width: 575px){
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &_img {
            padding: 0;
            @media(max-width: 767px){
                position: relative;
                bottom: 15px;
                border-radius: 24px;
            }
            img {
                @media(max-width: 767px){
                    height: auto;
                }
            }
        }
    }
}

.individual-intro {
    background-color: #ECECEC;

    .intro__title {
        max-width: 100%;
        position: relative;
        z-index: 1;
    }

    .intro-image img {
        left: -261px;
        top: -27px;
        transform: scale(1.1);
    }

    .breadcrumbs__list {
        padding-top: 17px;
        margin-top: 0;
    }

    .intro-left {
        padding-top: 38px;
    }

    .intro__text {
        max-width: 480px;
        margin-bottom: 40px;
    }
}

.advantages-inversion {
    .advantages-item {
        padding-top: 78px;
        padding-left: 45px;
        padding-bottom: 40px;
        @media(max-width: 991px){
            padding-top: 25px;
            padding-bottom: 25px;
            padding-left: 25px;
        }
    }

    .advantages-item_dark {
        background-color: #1C1F63;
        color: #fff;
    }

    .advantages-item__title {
        padding-left: 0;
        max-width: 295px;
    }
}

.examples {
    padding-top: 45px;
    @media(max-width: 991px){
        padding-top: 0;
    }

    .page-title {
        max-width: 590px;
    }

    &-wrapper {
        display: grid;
        column-gap: 10px;
        grid-template-columns: 373px auto;
        @media(max-width: 991px){
            grid-template-columns: 1fr;
        }
    }

    .examples-col {
        a {
            overflow: hidden;
            border-radius: 16px;
        }
        img {
            border-radius: 16px;
            object-fit: cover;
            transition: transform .2s linear;
            &:hover {
                transform: scale(1.03);
            }
        }
    }

    .examples-col_first {
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        @media(max-width: 991px){
            flex-direction: row;
            column-gap: 10px;
            margin-bottom: 10px;
        }
    

        img {
            width: 100%;
          
        }

        a {
            @media(max-width: 991px){
                width: 100%;
            }
            &:nth-child(1) {
                img {
                    height: 320px;
                    @media(max-width: 575px){
                        height: 50vw;
                    }
                  
                }
            }

            &:nth-child(2) {
                img {
                    height: 490px;
                    @media(max-width: 991px){
                        height: 320px;
                       
                    }
                    @media(max-width: 575px){
                        height: 50vw;
                    }
                }
            }
        }
    }

    .examples-col_second {
        &>a {
            margin-bottom: 10px;

            img {
                height: 490px;
                width: 100%;
                @media(max-width: 575px){
                    height: 62vw;
                }
            }
        }

        .examples-col__row {
            display: grid;
            grid-template-columns: 50% 50%;

            a {
                &:nth-child(1) {
                    img {
                        padding-right: 5px;
                    }
                }

                &:nth-child(2) {
                    img {
                        padding-left: 5px;
                    }
                }
            }

            img {
                height: 320px;
                width: 100%;
                @media(max-width: 575px){
                    height: 50vw;
                }
            }
        }
    }
}